body{
    background-image: url(Fotos\ De\ Los\ Vehiculos/dios+.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1, h2, h3{
    color: rgba(167, 51, 196, 0.822);
    text-align: center;
    margin: 3.5%;
}


p{
    color: rgba(23, 172, 218, 0.788);
    margin: 1.5%;
}

